package-lock.json
node_modules
dist
.parcel-cache
vendor

wp
wflogs
wp-config.php

/stats

/wp-content/*
!/wp-content
/wp-content/plugins/*
!/wp-content/plugins

/wp-content/themes/*
!/wp-content/themes
